Repository cryptobranchoidea/kotrot, pull requests merged in 2023-09, with the labels that each got.

#28 feat(ci) : dependavot-auto-mergeのアクションを追加
  .github/workflows/dependabot-automerge.yml
Labels: ci

#29 fix(ci) : dependabotだとコケるciをいくつか修正
  .github/workflows/label.yml
  .github/workflows/pr-lint.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-test.yml
Labels: ci

#30 Revert "Bump github.com/gofiber/fiber/v2 from 2.48.0 to 2.49.0 in /server"
  server/go.mod
  server/go.sum
Labels: server

#31 feat(server) : setup with docker
  server/.air.toml
  server/.env.local
  server/Dockerfile.dev
  server/Makefile
  server/README.md
  server/database/.gitignore
  server/database/Dockerfile
  server/docker/docker-compose.local.database.yml
  server/docker/docker-compose.local.server.yml
  server/docker/docker-compose.local.yml
  server/mysql/conf/my.conf
Labels: server

#40 サービス変更のHOMEページ変更
  client/kuma.config.ts
  client/src/app/(index)/components/About/index.tsx
  client/src/app/(index)/page.test.tsx
  client/src/app/(index)/page.tsx
  client/src/app/_components/dynamicLogo/index.tsx
  client/src/app/global.css
  client/src/app/layout.tsx
  client/src/app/table/new/_components/BoardInput/index.stories.tsx
  client/src/app/table/new/_components/BoardInput/index.tsx
  client/src/app/table/new/_components/BoardNewForm/index.stories.tsx
  client/src/app/table/new/_components/BoardNewForm/index.tsx
  client/src/app/table/new/_components/BoardPlaceInput/index.stories.tsx
  client/src/app/table/new/_components/BoardPlaceInput/index.tsx
  client/src/app/table/new/_components/BoardTimeInput/index.stories.tsx
  client/src/app/table/new/_components/BoardTimeInput/index.tsx
  client/src/app/table/new/layout.tsx
  client/src/app/table/new/page.stories.tsx
  client/src/app/table/new/page.tsx
  client/src/ui/common/Header/index.tsx
  client/src/ui/primitive/Button/index.tsx
  client/src/ui/primitive/Link/ButtonLink/index.stories.tsx
  client/src/ui/primitive/Link/ButtonLink/index.tsx
  client/src/ui/primitive/Link/TextLink/index.stories.tsx
  client/src/ui/primitive/Link/TextLink/index.tsx
  client/src/ui/primitive/Logo/index.tsx
  client/src/ui/primitive/ServiceLogo/index.stories.tsx
  client/src/ui/primitive/ServiceLogo/index.tsx
  client/src/ui/token.ts
  kotrot.code-workspace
Labels: client

#42 Revert "build(deps): bump codecov/codecov-action from 3 to 4"
  .github/workflows/go.yml
Labels: ci

#43 fix(ci) : Remove dependabot auto-merge ci
  .github/workflows/dependabot-automerge.yml
Labels: ci

#44 feat(server) : もろもろsetupして修正する
  server/Makefile
  server/cmd/api.go
  server/config/config.go
  server/config/dsn.go
  server/go.mod
  server/go.sum
  server/log/log.go
  server/main.go
  server/pkg/web/router/health.go
  server/pkg/web/router/swagger.go
  server/script/git.sh
Labels: server

#46 ホーム画面の改修
  client/kuma.config.ts
  client/src/app/(index)/components/About/index.tsx
  client/src/app/(index)/layout.tsx
  client/src/app/(index)/page.tsx
  client/src/app/global.css
  client/src/app/layout.tsx
  client/src/app/table/new/layout.tsx
  client/src/app/table/new/page.tsx
  client/src/ui/common/Header/index.tsx
  client/src/ui/primitive/Link/ButtonLink/index.tsx
  client/src/ui/primitive/Logo/index.tsx
  client/src/ui/token.ts
  client/src/util/setBreakPoint/index.ts
Labels: client

#47 form作成
  client/src/app/(index)/page.tsx
  client/src/app/pin/new/_components/PinForm/index.tsx
  client/src/app/pin/new/layout.tsx
  client/src/app/pin/new/page.tsx
  client/src/app/table/new/_components/TableNew/index.tsx
  client/src/app/table/new/page.tsx
  client/src/feature/previewer/index.tsx
  client/src/ui/primitive/Form/Checkbox/index.tsx
  client/src/ui/primitive/Form/Input/index.tsx
  client/src/ui/primitive/Form/InputWrapper/index.stories.tsx
  client/src/ui/primitive/Form/InputWrapper/index.tsx
  client/src/ui/primitive/Form/Label/index.tsx
Labels: client

#48 docker setting
  client/.dockerignore
  client/Dockerfile
  client/compose.yml
Labels: client

#50 build deploy setting
  client/cloudbuild.yml
Labels: client

#51 設定ファイルをyamlに変更
  client/cloudbuild.yaml
Labels: client

#52 change build command
  client/cloudbuild.yaml
Labels: client

#53 change build command
  client/cloudbuild.yaml
Labels: client
