Repository cryptobranchoidea/kotrot, pull requests merged in 2023-08, with the labels that each got.

#1 feat(ci) : Add auto reviewer assign
  .github/auto_assign.yml
  .github/labeler.yml
  .github/workflows/pr-autoreviewer.yml
Labels: ci

#5 feat(ci) : test の rerun をコメントベースでできるようにする
  .github/workflows/pr-lint.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-test.yml
Labels: ci

#10 クライアント側のテストのCIを導入
  .github/workflows/client-test.yml
  client/package.json
  client/pnpm-lock.yaml
  client/src/app/page.test.tsx
  client/tsconfig.json
  client/vitest.config.ts
  client/vitest.setup.ts
Labels: ci, client

#11 クライアント側でビルドのCIを通す
  .github/workflows/next-build.yml
  client/.eslintrc.json
  client/src/app/layout.tsx
Labels: ci, client

#3 feat(server) : server setup
  server/.local-develop/manifest/app/components/deployment.yaml
  server/.local-develop/manifest/app/components/service.yaml
  server/.local-develop/manifest/app/kustomization.yaml
  server/Dockerfile
  server/Makefile
  server/cmd/api.go
  server/go.mod
  server/go.sum
  server/log/log.go
  server/main.go
  server/pkg/web/handler/health/health.go
  server/pkg/web/router/health.go
  server/pkg/web/router/router.go
Labels: server

#13 feat(ci) : k8s-validation-ci
  .github/workflows/k8s-val.yml
Labels: ci

#14 feat(server) : swagger gen
  server/Makefile
  server/README.md
  server/docs/docs.go
  server/docs/swagger.json
  server/docs/swagger.yaml
  server/go.mod
  server/go.sum
  server/main.go
  server/pkg/web/handler/health/health.go
  server/pkg/web/router/swagger.go
Labels: server

#12 client:Homeページの作成
  client/.env.sample
  client/.storybook/main.ts
  client/kuma.config.ts
  client/package.json
  client/pnpm-lock.yaml
  client/src/app/_components/dynamicLogo/index.tsx
  client/src/app/board/new/page.tsx
  client/src/app/global.css
  client/src/app/layout.tsx
  client/src/app/page.stories.tsx
  client/src/app/page.test.tsx
  client/src/app/page.tsx
  client/src/app/signup/page.tsx
  client/src/ui/primitive/appLink/index.stories.tsx
  client/src/ui/primitive/appLink/index.tsx
  client/src/ui/token.ts
  client/src/util/createLink/index.test.ts
  client/src/util/createLink/index.ts
  client/tsconfig.json
  client/vitest.setup.ts
Labels: client
